MONGODB_URI=mongodb://localhost:27017/dav_school_db
JWT_SECRET=school_secret_key_change_this_in_production_min_32_chars
SCHOOL_NAME=School
SCHOOL_PHONE=+91 7488770476
SCHOOL_EMAIL=sstm476@gmail.com
SCHOOL_ADDRESS=India
NODE_ENV=development

